.flex-container {
    padding: 1em;
    background-color: #E8DCC0;
    font: 300 1em 'Avenir Next';
    display: grid;
    grid-row-gap: 0.3em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/**Attribute Selector*/
[data-key="2"] {
    background-color: #bbb;
}

.footer {
    background: lightgreen;
}

.navigation {
    list-style: none;
    margin: 0;
    border: 3px solid #7A5B61;

    background: #CC99A2;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #556393;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 600px) {
    .navigation {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #66667D;
        border-bottom: 1px solid #ADADB6;
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
